@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0d0d23;
  color: whitesmoke;
}
body {
  background-color: #0d0d23;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

@layer components {
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex items-center justify-between;
  }

  .textTitle {
    @apply text-2xl font-semibold;
  }
  .textLink {
    @apply text-blue-400 transition duration-200 ease-in hover:text-blue-200;
  }

  .paraHover {
    @apply text-slate-300 opacity-70 transition duration-300 ease-in hover:opacity-100;
  }

  .btn {
    @apply flex items-center justify-center rounded-xl border border-slate-400 bg-transparent p-2 transition duration-200 ease-in hover:border-white;
  }
  .btn-read-more {
    @apply bg-slate-400 text-black hover:bg-transparent hover:text-white;
  }
  .btnCate {
    @apply flex items-center justify-center rounded-xl border p-2 transition duration-200 ease-in hover:border-white;
  }
}
